.App-header {
    background-color: #F4F1E8;
    text-align: center;
    color: #04231E;
    padding: 20px;
}

  .App-header img {
    padding: 20px;
    margin-bottom: 0px; /* Adjust this to reduce space below the image */
  }
  
  .App-header h1 {
    margin-top: 0; /* Reduces space above the title */
  }  
  body {
    padding-top: 20px; /* Adjust based on your header's height */
    background-color: #F4F1E8;
    color: #04231E;
  }
  
  .content-container {
    padding: 20px; /* Adds space inside the container */
    margin: auto; /* Centers the container */
    max-width: 800px; /* Maximum width of the container */
    box-sizing: border-box; /* Includes padding in the width calculation */
  }
  
  /* Adjustments for mobile screens */
  @media (max-width: 600px) {
    .content-container {
      padding: 10px; /* Less padding on smaller screens */
    }
  }
  